<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" *ngIf="consumer">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label for="consumerName">Name</label>
                        <input type="text" id="consumerName" [(ngModel)]="consumer.name" name="consumerName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="basicSalary">Basic Salary</label>
                        <input type="number" id="basicSalary" [(ngModel)]="consumer.basicSalary" name="basicSalary" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Birth Date</label>
                        <input type="date" id="birthDate" [ngModel]="consumer.birthDate | date: 'yyyy-MM-dd'" (ngModelChange)="consumer.birthDate = $event" name="birthDate" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
        <div class="row" *ngIf="consumer.benefit">
            <app-benefit-detail [benefit]="consumer.benefit"></app-benefit-detail>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary backBtn" (click)="onBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon> Back
        </button>
        <button type="submit" class="btn btn-outline-secondary" (click)="saveConsumer()">
            {{(consumer?.id??0) > 0 ? 'Update' : 'Add'}}
        </button>
        <div class="alert alert-info message promptMessage" *ngIf="promptMessage">{{promptMessage}}</div>
    </div>
</div>

<app-benefit-history [consumerHistory]="consumerHistory"></app-benefit-history>